﻿@model CommonContact

@{
    ViewData["Title"] = "Контакты";
}

<form id="formContact" onsubmit="event.preventDefault()">
    <br>
    <div class="alert alert-success" role="alert" id="alertGreen" style="display:none">
        Ваши изменения успешно сохранены!
    </div>
    <div class="alert alert-danger" role="alert" id="alertRed" style="display:none">
        Ошибка при сохранении!
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-md-4">
            <input asp-for="Name" class="form-control" autocomplete="off" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Phone"></label>
        </div>
        <div class="col-md-4">
            <input asp-for="Phone" class="form-control" autocomplete="off" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Email"></label>
        </div>
        <div class="col-md-4">
            <input asp-for="Email" class="form-control" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="CityId"></label>
        </div>
        <div class="col-md-4">
            <select asp-for="CityId" asp-items="@Model.ListCity.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Name })" class="form-control"></select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 text-right">
            <button id="saveContact" class="btn btn-primary " onclick="SaveContact()">Сохранить</button>
        </div>
    </div>
</form>

<script>
    $('#@Html.IdFor(x => x.Phone)')
            .inputmask({
                mask: "+7 (999) 9999999",
                placeholder: "+7 (___) _______",
                showMaskOnHover: false,
                showMaskOnFocus: true
            });

    function SaveContact() {
        var form = $("#formContact").removeData('validator').removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
        if (!form.valid()) return;

        $('#alertGreen').hide();
        $('#alertRed').hide();

        var model = {
            '@nameof(Contact.Name)': $('#@Html.IdFor(x=>x.Name)').val(),
            '@nameof(Contact.Phone)': $('#@Html.IdFor(x=>x.Phone)').val(),
            '@nameof(Contact.Email)': $('#@Html.IdFor(x=>x.Email)').val(),
            '@nameof(Contact.CityId)': $('#@Html.IdFor(x=>x.CityId)').val()
        };
        $.ajax({
            type: "POST",
            url: "/home/SaveContact",
            data: model,
            success: function (data) {
                if (data && data.result == true) {
                    $('#alertGreen').show();
                }
                else {
                    $('#alertRed').show();
                }
            }
        });
    }

</script>
